<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body class="homepage">
    <div class="container">
        <div class="navbar">
            <div class="header">
                <h2>Travel Guide</h2>
            </div>
            <div class="links">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
            </div>
        </div>
        <!--
        <div class="content">
            <h2>Home</h2>
            <p>Welcome to my website. This is a simple website created using HTML and CSS.</p>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        -->
    <div class="content">
        <h1>Where do you want to travel?</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>

        <div data = {{ json }}>
        
        <div/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>

        <div class="footer">
            <p>&copy; 2021 My Website. All rights reserved.</p>
        </div>
    </div>

</body>

</html>
